@use "../global" as g;

/*!
layout > footer
------------------------------
*/
.footer {
  background-color: var(--color-bg-base);
  padding: 56rem 0;
}

.footer-inner {
  @include g.mq() {
    display: flex;
    align-items: center;
  }
}

.footer-logo {
  width: 156rem;
  margin: 0 auto;
  object-fit: scale-down;

  @include g.mq() {
    width: 283rem;
    height: 40rem;
    margin: 0;
  }
}

.footer-button-container {
  margin-top: 32rem;

  @include g.mq() {
    margin-top: 0;
    margin-left: 32rem;
  }
}

.footer-button {
  background-image: var(--color-gradient-light-blue);
  font-family: var(--font-family-base);
  font-weight: bold;
  font-size: 14rem;
}

.footer-button-icon {
  margin-left: 16rem;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16rem 32rem;
  font-size: 16rem;
  margin-top: 40rem;

  @include g.mq() {
    margin-top: 0;
    margin-left: auto;
  }
}

.footer-item {
  font-family: var(--font-family-base);
  font-size: 16rem;
  font-weight: bold;
  padding-left: 0.05em;

  @include g.mq() {
    padding-left: 0;
  }
}

.footer-block {
  display: flex;
  gap: 30rem;
  width: fit-content;
  margin: 56rem auto 0 auto;

  a {
    font-family: var(--font-family-base);
    color: var(--color-font-base);
    font-size: 12rem;
    line-height: 1.7;
    letter-spacing: 0.05em;
    padding-left: 0.05em;
  }

  @include g.mq() {
    margin-right: 0;
  }
}

.footer-copyright {
  font-family: var(--font-family-english);
  font-size: 12rem;
  line-height: 1.7;
  letter-spacing: 0.05em;
  padding-left: 0.05em;
  text-align: center;
  display: block;
  margin-top: 22rem;

  @include g.mq() {
    text-align: right;
  }
}
